/* Variables */
:root {
  --primary-c: #23395B;
  --secondary-c: #EAE5E9;
  --accent-c: #78CAD2;
  --error-c: #da2222;
  --border-r: 6px;
  --heading-ff: 'Josefin Sans', sans-serif;
  --section-padding: 2em 1em;
  --body-fs: clamp(1.7rem, 1.5vw + 1rem, 2.1rem);
  --section-heading-fs: clamp(3rem, 6vw + 1rem, 7rem);
  --focus-transition: all 0.3s ease-in;
}

/* Setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* CSS reset additions */
img { 
  max-width: 100%;
  height: auto;
  display: block;
}

input,
select,
option:not(:first-child),
button,
a {
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
}
/* see if it improves */
option:first-child {
  font: inherit;
  line-height: 1.6;
}

a {
  text-underline-offset: 0.5rem;
}

button:focus-visible {
  outline-color: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Global */
html {
  font-size: 62.5%;
}

body {
  font-size: var(--body-fs);
  font-family: 'Lato', sans-serif;
  color: var(--primary-c);
  background: no-repeat
              url(./assets/patrick-tomasso-Oaqk7qqNh_c-unsplash.webp)
              var(--primary-c);
  background-attachment: fixed;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
}

.App > * {
  background-color: var(--secondary-c);
}

.App > *:not(:first-child):not(:last-child) {
  border-radius: var(--border-r);
  margin-bottom: 50px;
}

h1,
h2,
h3,
footer {
  font-family: var(--heading-ff);
}

h1 {
  font-size: clamp(4rem, 9vw + 2rem, 15rem);
  padding-right: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--section-heading-fs);
}

input,
select,
button,
.alert-button,
.not-found-links a {
  border: 2px solid var(--primary-c);
  background-color: var(--secondary-c);
  border-radius: var(--border-r);
  padding: 0.1em 0.5em;
  scale: 1;
  transition: var(--focus-transition);
}

input:hover,
input:focus,
select:hover,
select:focus,
button:hover,
button:focus-visible,
.alert-button:hover,
.alert-button:focus,
.not-found-links a:hover,
.not-found-links a:focus {
  border-color: var(--accent-c);
  scale: 0.98;
}

footer a,
header a {
  color: var(--primary-c);
  transition: var(--focus-transition);
}

footer a:hover,
footer a:focus,
header a:hover,
header a:focus {
  color: var(--accent-c);
}

/* Header */
header {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  padding-bottom: 30px;
  flex-direction: column;
  text-align: center;
}

header p {
  line-height: 1.6;
  max-width: 80%;
  margin: 1rem;
}

header a {
  font-family: var(--heading-ff);
}

/* User Auth*/
.log-out {
  position: absolute;
  top: 0;
  left: 2rem;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.log-out p {
  margin: 0;
  margin-right: 1rem;
  font-size: 1.4rem;
  display: inline;
  font-family: var(--heading-ff);
  font-weight: bold;
}

.log-out button {
  color: var(--secondary-c);
  background-color: var(--primary-c);
  scale: 0.7;
  padding-bottom: 0;
}

.sign-in,
.sign-up,
.reset-password {
  padding: var(--section-padding);
}

.sign-in form,
.sign-up form,
.reset-password form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.sign-in input,
.sign-up input,
.reset-password input,
.sign-in button,
.sign-up button,
.reset-password button {
  margin-inline: auto;
}

.sign-in button,
.sign-up button,
.reset-password button {
  /* margin-inline: auto; */
  width: 20ch;
  background-color: #23395B;
  color: #78CAD2;
}

.sign-in a,
.sign-up a,
.reset-password a {
  display: inline-block;
}

.reset-password p {
  text-align: center;
  font-weight: bold;
}

/*Navigation and some user auth */
nav {
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 3px;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav li,
nav a {
  display: flex;
}

nav a,
.sign-in a,
.sign-up a,
.reset-password a {
  font-size: clamp(3rem, 5vw + 1rem, 5rem);
  color: var(--primary-c);
  background-color: transparent;
  padding: 2px 6px;
  scale: 1;
  transition: var(--focus-transition);
} 

nav a:hover,
nav a:focus,
.sign-in a:hover,
.sign-in a:focus,
.sign-up a:hover,
.sign-up a:focus,
.reset-password a:hover,
.reset-password a:focus {
  color: var(--accent-c);
  scale: 1.2;
}

.animate {
  animation: pulse 0.3s 2 ease-out;
  color: var(--accent-c);
}

.animateRemove {
  animation: pulse 0.3s 2 ease-out;
  color: var(--error-c);
}

/* Form */
form {
  padding: var(--section-padding);
}

form .inputs-container {
  display: flex;
  gap: 3rem;
}

label {
  font-weight: bold;
}

.input-unit {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input,
select {
  width: 20ch;
  height: 4rem;
  margin-left: auto;
  accent-color: var(--accent-c);
  text-align: center;
}

input {
  cursor: text;
}

input::placeholder{
  opacity: 1;
}

form button {
  height: 4rem;
  padding-inline: 2em;
  margin-left: auto;
  height: 4rem;
}

/* Loader */
.loader {
  background-color: transparent;
  margin-inline: auto;
}

.loader img{
  width: 10rem;
}

.loading{
  animation: animate 3s infinite linear;
}

/* Results */
.results h3::first-letter {
  text-transform: uppercase;
}

h3 {
  padding: auto;
}

.results,
.saved-words {
  padding: var(--section-padding);
  margin-bottom: 100px;
}

.results h3::first-letter {
  text-transform: uppercase;
}

.results ul,
.saved-words ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.results li,
.saved-words li {
  display: flex;
  align-items: baseline;
}

.results button,
.saved-words button {
  color: var(--primary-c);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: auto;
  align-self: center;
  scale: 1;
  padding: 0.2em;
  background-color: transparent;
  transition: var(--focus-transition);
}

.results button:hover,
.results button:focus,
.saved-words button:hover,
.saved-words button:focus {
  color: var(--accent-c);
  scale: 1.2;
}

/* Page not found */
.not-found {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-logo {
  width: 25rem;  
}

.not-found h2 {
  margin: 0 auto;
  font-size: var(--section-heading-fs);
  text-align: center;
}

.not-found-links li,
.not-found-links a {
  display: inline-block;
  width: 20ch;
}

.not-found-links li {
  margin: 1rem;
}

.not-found-links a {  
  text-decoration: none;
  text-align: center;
}

/* Footer */
footer {
  font-size: clamp(1.3rem, 2vw + 0.5rem, 2rem);
  display: flex;
  justify-content: center;
  margin-top: auto;
}

/* Alerts */
.swal2-popup.swal2-modal,
.swal2-icon.swal2-error.alert-icon {
  background-color: var(--secondary-c);
  border: 2px solid var(--primary-c);
}

.swal2-icon.alert-icon .swal2-x-mark > span {
  background-color: var(--error-c);
}

.swal2-title.alert-title {
  color: var(--primary-c);
  font-size: 3rem;
}

.swal2-modal .swal2-html-container,
.alert-button {
  color: var(--primary-c);
  font-size: var(--body-fs);
}

/* Media queries */
@media (max-width: 965px) {
  form,
  .not-found-links {
    display: flex;
    justify-content: center;
  }
  form .inputs-container,
  .not-found-links{
    flex-direction: column;
  }
  form button {
    width: 100%;
  }
}

/* Animations */
@keyframes animate {
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.8;
  }
  0% {
    scale: 1;
  }
}

