/* Variables */
:root {
  --primary-c: #23395B;
  --secondary-c: #EAE5E9;
  --accent-c: #78CAD2;
  --error-c: #da2222;
  --border-r: 6px;
  --heading-ff: 'Josefin Sans', sans-serif;
  --section-padding: 2em;
}

/* Setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* CSS reset additions */
input,
select,
option,
button {
  font: inherit;
  cursor: pointer;
  outline: none;
}

button:focus-visible {
  outline-color: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Global */
html {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.6rem, 2vw + 1rem, 2rem);
  font-family: 'Lato', sans-serif;
  color: var(--primary-c);
  background: no-repeat
              center
              url(./assets/patrick-tomasso-Oaqk7qqNh_c-unsplash.webp)
              var(--primary-c);
  background-size: cover;
}

.App {
  /* The below rules and footer rule enables sticky footer */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
}

.App > * {
  background-color: var(--secondary-c);
}

.App > *:not(:first-child):not(:last-child) {
  border-radius: var(--border-r);
  margin-bottom: 100px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-ff);
}

h1 {
  font-size: clamp(5rem, 12vw + 2rem, 15rem);
}

h2 {
  font-size: clamp(3rem, 10vw + 1rem, 7rem);
}

input,
select,
button {
  border: 2px solid var(--primary-c);
  background-color: var(--secondary-c);
  border-radius: var(--border-r);
  padding: 2px 6px;
  scale: 1;
  transition: border 0.3s ease-in , scale 0.3s ease-in;
}

input:hover,
input:focus,
select:hover,
select:focus,
button:hover,
button:focus {
  border-color: var(--accent-c);
  scale: 0.98;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

/* Form */
form {
  padding: var(--section-padding);
}

form .container {
  display: flex;
  gap: 1em;
}

.input-unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

input,
select {
  margin-left: auto;
  accent-color: var(--accent-c);
}

form button {
  padding-inline: 2em;
  margin-left: auto;
}

/* Results */
.results {
  padding: var(--section-padding);
  margin-bottom: 100px;
}

.results ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Footer */
footer {
  font-size: clamp(1.3rem, 2vw + 0.5rem, 2rem);
  font-family: var(--heading-ff);
  display: flex;
  justify-content: center;
  /* stick footer to bottom of page */
  margin-top: auto;
}

/* Media queries */
@media (max-width: 950px) {
  form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .container{
    flex-direction: column;
    align-items: stretch;
  }
  form button {
    margin-inline: 0;
  }
}
